.kick {

    font-size: 40px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 1rem;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 96vh;
    justify-content:center ;
    align-items: center;

    background: url('../images/football.png') center; 
}

.container {
    width: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid #3a3a3a;
    background-color: #5a5a;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    color: #fafafa;
    font-weight: bold;
}

.btn:hover {
    background-color: #f94230;
}

.btn.correct{
    --hue:var(--hue-correct);
   background-color: #1b1918;
}
.btn.wrong{
    --hue:var(--hue-wrong);

}

#start-btn, #next-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.footer {
    font-size: 50px;
    justify-content: center;
    padding: 20px;
    margin: 20%;
    display: inline;
    color: red;

}
.follow {

    color: #fff;
    margin: 1rem;

}
#footer-email {

    width: 250px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin: 3rem;

}

#footer-email-btn {
    width: 100px;
    height: 35px;
    border-radius: 4px;
    background-color: #f94230;
    color: #fff;
    font-size: 1rem;
    padding: 0;
    outline: none;
    border: none;

}
.join {
    text-align: center;
    color: #fff;
 }


 /**Media Queries**/

 /* Small Media to Medium screen size from min-width 280px to max-width 500px wide and down */

 @media screen and (min-width: 280px) and (max-width:500px) {
    .kick {
        font-size: 20px;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .footer {
        font-size: 35px;
        
    }

    .follow {
        font-size: 0.8rem;
        text-align: center;
    }

    .join {
        font-size: 0.8rem;
    }

    #footer-email-btn {
        width: 100px;
        height: 35px;
        text-align: center;
        margin-left: 35%;
    }
    #footer-email {
        width: 80vw;
    }




 }





